# Latihan 1

In [4]:
print ('Hello world!')

Hello world!

In [5]:
#List
fruits = [] #empty list
fruits = ['apple', 'banana']#list with 2 elements
another_list = ['this is string', 10] #list with different types of elements

print (fruits)
print(another_list)
combined=(fruits,another_list)
print(combined)

['apple', 'banana']
['this is string', 10]
(['apple', 'banana'], ['this is string', 10])

In [6]:
#Add elements
fruits.append('orange')# append is the syntax to add
print(fruits)

fruits=fruits+['mango']
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango']

In [7]:
#Tuple
#tuple is similar to list but immutable once created
#1. list bisa ditambahkan isinya, kalau tuple gak bisa
#2. list bisa gabungan tipe datanya : string, numerik dll
#3. list pakai kurung siku, tuple kurung biasa, set
coordinate=(0,5)
colors= ('red','green','blue')
print(coordinate)
print(colors)

(0, 5)
('red', 'green', 'blue')

In [8]:
#Data Integration
import numpy as np
import pandas as pd

In [17]:
#Mergin
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3']})

right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']})

result1 = pd.merge(left,right, on='key')

In [18]:
result1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [21]:
#Multiple Key
left = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K1','K0','K1'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})

right = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                     'key2':['K0','K0','K0','K0'],
                      'C':['C0','C1','C2','C3'],
                      'D':['D0','D1','D2','D3']})

result2 = pd.merge(left,right, on=['key1','key2'])
result2

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [73]:
#export data
# 1. data1=pd.read_csv('alamat directory')
# 2. data2=pd.read_xlsx('alamat directory')

# menggabungkan 
# data_complate= pd.merge(data1,data2,on='data_code')
import pandas as pd
data1 = pd.read_csv("data1.csv",sep=";")
data2 = pd.read_csv("data2.csv",sep=";")

In [77]:
data = pd.merge(data1, data2, on ='absen')
data.head()
data

   absen Nama  Nilai Kelas
0      1   aa    1.2     a
1      2   aa    2.1     c
2      3   aa    3.2     r
3      4   aa    4.1     s
4      5   aa    2.0     x
5      6   aa    3.0     e
6      7   aa    4.0     c
7      8   bb    9.1     v

In [ ]:
#menggabungkan baris
#hasil=pd.concat(data1,data2)